In [29]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import re            
from geopy.geocoders import Nominatim
import plotly.express as px

In [30]:
df = pd.read_csv(r"E:\ny_housing_project\data\NY-House-Dataset.csv")
df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

In [31]:
df.describe()

,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
count,4.801000e+03,4801.000000,4801.000000,4801.000000,4801.000000,4801.000000
mean,2.356940e+06,3.356801,2.373861,2184.207862,40.714227,-73.941601
std,3.135525e+07,2.602315,1.946962,2377.140894,0.087676,0.101082
min,2.494000e+03,1.000000,0.000000,230.000000,40.499546,-74.253033
25%,4.990000e+05,2.000000,1.000000,1200.000000,40.639375,-73.987143
50%,8.250000e+05,3.000000,2.000000,2184.207862,40.726749,-73.949189
75%,1.495000e+06,4.000000,3.000000,2184.207862,40.771923,-73.870638
max,2.147484e+09,50.000000,50.000000,65535.000000,40.912729,-73.702450

In [32]:
df

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
count,4587,4587,4.587000e+03,4587.000000,4587.000000,4587.000000,4587,4587,4587,4587,4587,4587,4587,4587,4587,4587.000000,4587.000000
unique,1036,13,NaN,NaN,NaN,NaN,4582,308,4583,29,11,21,174,2731,4550,NaN,NaN
top,Brokered by COMPASS,Co-op for sale,NaN,NaN,NaN,NaN,2619 Shore Pkwy,"Brooklyn, NY 11235","2619 Shore PkwyBrooklyn, NY 11223",United States,New York,New York,Manhattan,2,"67-66 108th St, Forest Hills, NY 11375, USA",NaN,NaN
freq,435,1388,NaN,NaN,NaN,NaN,2,99,2,2374,2395,967,930,19,3,NaN,NaN
mean,NaN,NaN,2.381172e+06,3.365816,2.377735,2177.712426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.713932,-73.941584
std,NaN,NaN,3.206831e+07,2.628808,1.968503,2283.095559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.087738,0.101276
min,NaN,NaN,2.494000e+03,1.000000,0.000000,230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.499546,-74.253033
25%,NaN,NaN,4.990000e+05,2.000000,1.000000,1200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.638588,-73.987420
50%,NaN,NaN,8.250000e+05,3.000000,2.000000,2184.207862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.726667,-73.949116
75%,NaN,NaN,1.498500e+06,4.000000,3.000000,2184.207862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.771913,-73.869455
max,NaN,NaN,2.147484e+09,50.000000,50.000000,65535.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.912729,-73.702450

In [35]:
df[df.duplicated(keep=False)].sort_values(by=df.columns.tolist())

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
1618,Brokered by AAA Young Shuen Realty Inc,House for sale,1288000,5,2.373861,2184.207862,146-06 13th Ave,"Whitestone, NY 11357","146-06 13th AveWhitestone, NY 11357",United States,New York,Queens County,Queens,13th Avenue,"146-06 13th Ave, Flushing, NY 11357, USA",40.788666,-73.820793
1631,Brokered by AAA Young Shuen Realty Inc,House for sale,1288000,5,2.373861,2184.207862,146-06 13th Ave,"Whitestone, NY 11357","146-06 13th AveWhitestone, NY 11357",United States,New York,Queens County,Queens,13th Avenue,"146-06 13th Ave, Flushing, NY 11357, USA",40.788666,-73.820793
3820,Brokered by ATLANTIC PROPERTIES REALTY INC,House for sale,1175000,3,2.373861,2184.207862,3028 Brighton 7th St,"Brooklyn, NY 11235","3028 Brighton 7th StBrooklyn, NY 11235",United States,New York,Kings County,Brooklyn,Brighton 7th Street,"3028 Brighton 7th St., Brooklyn, NY 11235, USA",40.579061,-73.961251
3836,Brokered by ATLANTIC PROPERTIES REALTY INC,House for sale,1175000,3,2.373861,2184.207862,3028 Brighton 7th St,"Brooklyn, NY 11235","3028 Brighton 7th StBrooklyn, NY 11235",United States,New York,Kings County,Brooklyn,Brighton 7th Street,"3028 Brighton 7th St., Brooklyn, NY 11235, USA",40.579061,-73.961251
1044,Brokered by Alexiou Realty,Multi-family home for sale,1049000,3,2.000000,2184.207862,20-46 41st St,"Astoria, NY 11105","20-46 41st StAstoria, NY 11105",United States,New York,Queens County,Queens,41st Street,"20-46 41st St, Astoria, NY 11105, USA",40.775116,-73.902397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296,Brokered by qvtopservice,House for sale,649000,3,2.000000,2000.000000,114-30 202nd St,"Saint Albans, NY 11412","114-30 202nd StSaint Albans, NY 11412",United States,New York,Queens County,Queens,202nd Street,"114-30 202nd St, Jamaica, NY 11412, USA",40.699555,-73.752709
3642,NoBroker,Condo for sale,771770,2,2.000000,710.000000,134-16 35th Ave Unit 11D,"Flushing, NY 11354","134-16 35th Ave Unit 11DFlushing, NY 11354",New York,Queens County,Queens,Flushing,134-16,"134-16 35th Ave #11d, Flushing, NY 11354, USA",40.763958,-73.832596
3653,NoBroker,Condo for sale,771770,2,2.000000,710.000000,134-16 35th Ave Unit 11D,"Flushing, NY 11354","134-16 35th Ave Unit 11DFlushing, NY 11354",New York,Queens County,Queens,Flushing,134-16,"134-16 35th Ave #11d, Flushing, NY 11354, USA",40.763958,-73.832596
4760,NoBroker,Multi-family home for sale,2000000,8,2.373861,2184.207862,2324 60th St,"Brooklyn, NY 11204","2324 60th StBrooklyn, NY 11204",United States,New York,Kings County,Brooklyn,60th Street,"2324 60th St, Brooklyn, NY 11204, USA",40.614758,-73.975714
4780,NoBroker,Multi-family home for sale,2000000,8,2.373861,2184.207862,2324 60th St,"Brooklyn, NY 11204","2324 60th StBrooklyn, NY 11204",United States,New York,Kings County,Brooklyn,60th Street,"2324 60th St, Brooklyn, NY 11204, USA",40.614758,-73.975714

In [36]:
df = df.drop_duplicates()

In [39]:
df.describe()

,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
count,4.587000e+03,4587.000000,4587.000000,4587.000000,4587.000000,4587.000000
mean,2.381172e+06,3.365816,2.377735,2177.712426,40.713932,-73.941584
std,3.206831e+07,2.628808,1.968503,2283.095559,0.087738,0.101276
min,2.494000e+03,1.000000,0.000000,230.000000,40.499546,-74.253033
25%,4.990000e+05,2.000000,1.000000,1200.000000,40.638588,-73.987420
50%,8.250000e+05,3.000000,2.000000,2184.207862,40.726667,-73.949116
75%,1.498500e+06,4.000000,3.000000,2184.207862,40.771913,-73.869455
max,2.147484e+09,50.000000,50.000000,65535.000000,40.912729,-73.702450

Dữ liệu gần như đầy đủ